<h3>User List</h3>
<div class="row">
  <div class="col-8">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <table class="table" *ngIf="users">
      <thead>
        <tr>
          <th scope="col">Avatar</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td><img [src]="user.avatar" [alt]="user.avatar" height="48px" /></td>
          <td>
            <a [routerLink]="[user.id]">
              {{ user.first_name }} {{ user.last_name }}
            </a>
          </td>
          <td>{{ user.email }}</td>
          <td>
            <a class="btn btn-sm btn-primary" [routerLink]="[user.id]">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
              Details
            </a>
            &nbsp;
            <a class="btn btn-sm btn-info" [routerLink]="[user.id, 'edit']">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
